<!DOCTYPE html>
<html>
  <head>
    <title>Aiirbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>

  <body>

  <%= render 'layouts/navigation' %>


  <%= render 'shared/message' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container"><%= yield %></div>
  </body>
</html>
